<!DOCTYPE html>
<html>

<head>
  <title>Metrica AtE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- jQuery para form Modal  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: gray;">
  <%- include("header") -%>


    <div class="container mt-4">
      <div>

        <h1 class="text-center text-white">Metrica AtE</h1>

        <% if (messages.success) { %>
          <div class="alert alert-success" role="alert">
            <%- messages.success %>
          </div>
          <% } %>

            <% if (messages.error) { %>
              <div class="alert alert-danger" role="alert">
                <%- messages.error %>
              </div>
              <% } %>


                <% if(datatm.length) { %>
                  <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">AtE</th>
                        <th scope="col">C-USO</th>
                        <th scope="col">P-USO</th>
                        <th scope="col">V-VAR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% var cont=0; for(var i=1; i<=3; i++) { cont=0; %>
                        <% for(var j=0; j < datatm.length; j++) { if(datatm[j].linha==i){ cont
                          +=parseInt(datatm[j].dado_hexa_p, 16) } %>
                          <% }%>

                            <tr>
                              <th scope="Linha">
                                Linha <%= (i) %>
                              </th>
                              <td>
                                1
                              </td>
                              <td>
                                2
                              </td>
                              <td>
                                <%= cont.toString(16) %>
                              </td>
                              <td>
                                4
                              </td>
                            </tr>
                            <% } %>
                    </tbody>
                  </table>
                  <% } %>
                    <!-- se resultado vazio da query data -->
                    <% if(!datatm.length) { %>
                      <p class="text-center">Caso caminho</p>
                      <% } %>
      </div>
    </div>
    </div>
</body>

</html>