<!DOCTYPE html>
<html>

<head>
  <title>Metrica AtE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- jQuery para form Modal  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <%- include("header") -%>


    <div class="container mt-4">
      <div>

        <h1>Metrica AtE</h1>

        <% if (messages.success) { %>
          <div class="alert alert-success" role="alert">
            <%- messages.success %>
          </div>
          <% } %>

            <% if (messages.error) { %>
              <div class="alert alert-danger" role="alert">
                <%- messages.error %>
              </div>
              <% } %>

                <div class="card">
                  <div class="card-header">
                    <ul class="nav nav-pills w-100">
                      <li class="nav-pill active">
                        <a class="nav-link">
                          <h4>Parcelas</h4>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <!-- PARCELAS -->
                  <div class="card-body">
                    <% if(datatm.length) { %>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">AtE</th>
                            <th scope="col">C-USO</th>
                            <th scope="col">P-USO</th>
                            <th scope="col">V-VAR</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% let cont=0; var SOMcont=0; for(var i=1; i<=totalLinhas; i++) {cont=0; %>
                            <% for(var j=0; j < datatm.length; j++) { if( (datatm[j].linha==i) &&
                              (datatm[j].cod_linha.includes("if") || datatm[j].cod_linha.includes("while") ||
                              datatm[j].cod_linha.includes("for") || datatm[j].cod_linha.includes("switch"))){
                              cont+=parseInt(datatm[j].dado_hexa_p, 16);} %>
                              <% } SOMcont +=cont;%>

                                <tr>
                                  <th scope="Linha">
                                    Linha <%= (i) %>
                                  </th>
                                  <td>
                                    1
                                  </td>
                                  <td>
                                    <%= cuso_parcelas[i - 1] !==undefined ? cuso_parcelas[i - 1] : '-' %>
                                  </td>
                                  <td>
                                    <%= cont !=0 ? cont.toString(16) : '-' %>
                                  </td>
                                  <td>
                                    4
                                  </td>
                                </tr>
                                <% } %>

                        </tbody>
                      </table>
                      <% } %>
                        <!-- se resultado vazio da query data -->
                        <% if(!datatm.length) { %>
                          <p class="text-center">Caso caminho</p>
                          <% } %>
                  </div>
                </div>
                <!-- TOTAL -->
                <div class="card">
                  <div class="card-header">
                    <ul class="nav nav-pills w-100">
                      <li class="nav-pill active">
                        <a class="nav-link">
                          <h4>Total</h4>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">AtE</th>
                          <th scope="col">C-USO</th>
                          <th scope="col">P-USO</th>
                          <th scope="col">V-VAR</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <!-- INSERIR TOTAL ate AQUI -->
                            <%= parseInt(cuso,10) + parseInt(SOMcont.toString(16),10 ) %>
                          </td>
                          <td>
                            <%= cuso %>
                          </td>
                          <td>
                            <%= SOMcont.toString(16) %>
                          </td>
                          <td>
                            <!-- INSERIR TOTAL vvar AQUI -->
                            -
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- se resultado vazio da query data -->
                    <% if(!datatm.length) { %>
                      <p class="text-center">Caso caminho</p>
                      <% } %>
                  </div>
                </div>
      </div>
    </div>
    </div>
</body>

</html>