<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Caminho</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include("../header") -%>
        <div class="container mt-4">
            <h2>Caminho</h2>
            <% if (messages.success) { %>
                <div class="alert alert-success" role="alert">
                    <%- messages.success %>
                </div>
                <% } %>

                    <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert">
                            <%- messages.error %>
                        </div>
                        <% } %>

                            <div class="card">
                                <div class="card-header">
                                    <ul class="nav nav-pills w-100">
                                        <li class="nav-pill active">
                                            <a class="nav-link">
                                                <h4>Caminho</h4>
                                            </a>
                                        </li>
                                        <li class="nav-pill ml-auto">
                                            <a class="btn btn-warning" href="../metrica/caminhoInserir.ejs">Inserir
                                                Casos
                                                Teste</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- FETCH REGISTROS em consultas coletivas -->
                                <div class="card-body">
                                    <% if(dataProduto.length) { %>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">id_caminho</th>
                                                    <th scope="col">descricao</th>
                                                    <th scope="col">def_uso</th>
                                                    <th scope="col">subcaminho</th>
                                                    <th scope="col">idp</th>
                                                    <th scope="col">ido</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- para todos os registros do query data, incrementar um contador -->
                                                <% for(var i=0; i< dataProduto.length; i++) { %>
                                                    <tr>
                                                        <th scope="Linha">
                                                            <%= (i+1) %>
                                                        </th>
                                                        <td>
                                                            <%= dataProduto[i].id_caminho %>
                                                        </td>
                                                        <td>
                                                            <%= dataProduto[i].descricao %>
                                                        </td>
                                                        <td>
                                                            <%= dataProduto[i].def_uso %>
                                                        </td>
                                                        <td>
                                                            <%= dataProduto[i].subcaminho %>
                                                        </td>
                                                        <td>
                                                            <%= dataProduto[i].idp %>
                                                        </td>
                                                        <td>
                                                            <%= dataProduto[i].ido %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                        <% } %>
                                            <!-- se resultado vazio da query data -->
                                            <% if(!dataProduto.length) { %>
                                                <p class="text-center">Caso caminho</p>
                                                <% } %>
                                </div>
                            </div>
        </div>
</body>

</html>